[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Categories=Development;IDE;
Icon=voclipse
Name=voclipse
Comment=SDK based on the Eclipse IDE
GenericName=Integrated Development Enviroment
GenericName[de]=Integrierte Entwicklungsumgebung
Exec=voclipse
Terminal=false
