Package: voclipse
Version: 4.4M6
Priority: extra
Architecture: i386
Source: voclipse
Depends: openjdk-7-jre
Installed-Size: {SIZE}
Maintainer: Matthias Mailänder <matthias.mailaender@vogella.com>
Homepage: http://voclipse.com
Description: voclipse IDE
 .
 A pre-configured Java IDE based on the award winning Eclipse project. Includes all the tools needed to develop and debug: Java and Plug-in Development Tooling, Git and Maven support, including source and developer documentation.
